---
layout: default
title: Essayslist
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      <h1>{{ page.title }}</h1>

      <ul>
      {% for note in site.notes %}
        <li>
          <a href="{{ note.url }}">{{ note.title }}</a>
          <p>{{ note.excerpt }}</p>
        </li>
      {% endfor %}
      </ul>

    </article>

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
