<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h3>About this site</h3>
      <p>{{ site.description }}</p>
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% elsif page.layout == "essays_layout" %}
    <section class="section section--essayslayout-index">
      <h3>Tags List</h3>
      <ul id="essay-tags-list">
 
        <li><a href="javascript:void(0);" class="essay-tag display-all" data-tag="all">Display All</a></li>
    
        {% assign all_tags = site.essays | map: "tags" | flatten | uniq %}
        {% for tag in all_tags %}
            <li><a href="javascript:void(0);" class="essay-tag" data-tag="{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    
    </section>


  {% endif %}

</aside>
 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 
<script>
$(document).ready(function() {
 

    $('.essay-tag').on('click', function(e) {
        e.preventDefault();

        const tagClicked = $(this).data('tag');
        const allEssays = $('.essay-item');

        if (tagClicked === "all") {
            allEssays.hide().filter(function() {
                const essayTags = $(this).data('tags').split(',').map(tag => tag);
                return essayTags.includes(tagClicked);
            }).show();
            
        } else {
            allEssays.hide().filter(function() {
                const essayTags = $(this).data('tags').split(',').map(tag => tag.trim());
                return essayTags.includes(tagClicked);
            }).show();
        }
    });
});


</script>
