<aside class="aside typeset aside--{{ include.align | default: 'right' }}">

    <section class="section section--tags-index">
      <h3>Tags</h3>
      <ul id="tag-list">
          <li><a href="javascript:void(0);" data-tag="all">Display All</a></li>  
          {% assign all_tags = site.essays | map: "tags" | flatten | uniq %}
          {% for tag in all_tags %}
              <li><a href="javascript:void(0);" data-tag="{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
      </ul>
    </section>
  
  </aside>
  