.content {
    display: flex;  /* Makes content a flex container */
    flex-direction: row;  /* Orders children in a row */
    justify-content: space-between;  /* Adds space between the columns */
    align-items: flex-start;   

.article {
    flex: 3;   
    margin-right: 20px;  
}

.tags-index {
    flex: 1;   
}
.date-text {
    color: lightgrey;
    margin-right: 10px;
}

.essay-tag {
    cursor: pointer;
    text-decoration: underline;
}}