---
// title: false
// styles: true
---
table {
    width: 100%;
}

table td, table th {
    text-align: left;
    padding: 8px;
}

.date-text {
    color: lightgrey;
    margin-right: 10px;
}

.essay-tag {
    cursor: pointer;
    text-decoration: underline;
}

// @import "alembic";
@import "../_sass/essays";
