---
layout: default
---

{% include site-header.html %}

<main class="main container">

  <div class="content">

    <article class="article article--page typeset">

      <h1>{{ page.title }}</h1>

        {% for essay in site.essays %}
            <section class="section typeset essay-item" data-tags="{{ essay.tags | join: ',' }}">
                <h3 id="{{ essay.title | slugify }}">
                <a href="{{ site.baseurl }}{{ essay.url }}">{{ essay.title }}</a>
                </h3>
                <div class="meta">
                    <span class="date-text">{{ essay.date | date: "%B %d, %Y" }}</span>
                    |
                    <ul class="list list--tags inline-tags">
                    {% for tag in essay.tags %}
                        <li class="item item--tag"><a href="javascript:void(0);" class="essay-tag" data-tag="{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        {% endfor %}
    
    </article>

  </div>

  {% if page.aside == true %}{% include site-aside.html align="left" %}{% endif %}

</main>

{% include site-footer.html %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.essay-tag').on('click', function(e) {
            e.preventDefault();

            const tagClicked = $(this).data('tag');
            const allEssays = $('.essay-item');

            allEssays.hide();

            allEssays.filter(function() {
                return $(this).data('tags') && $(this).data('tags').split(',').includes(tagClicked);
            }).show();
        });
    });

</script>