---
layout: default
---

{% include site-header.html %}

<head>
  <style>
    .cell-content {
      max-height: 40px;  
      overflow: hidden;  
      position: relative;
    }

    .show-more {
      color: #0d94e7;
      cursor: pointer;
      display: inline-block;
      margin-top: 10px;
    }

    .expanded {
      max-height: none;  
    }
  </style>
</head>

<main class="main container">

  <div class="content">

    <table style="border-collapse: collapse; width: 100%; padding: 18px;">
      <thead>
        <tr>
          <th style="text-align:center; border: 1px solid lightgrey; padding: 18px;">No.</th>
          <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Topic Name</th>
          <!-- <th style="text-align:center; border: 1px solid lightgrey; padding: 18px;">Tradeoff</th>
          <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Strategies (for Tradeoff)</th> -->
          <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Technologies</th>
          <!-- <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Tools (for Technologies)</th> -->
          <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for tech in site.topics %}
        <tr data-time="{{ post.feature_text | slice: -12, 10 | date: '%Y-%m-%d' }}" data-tags="{{ post.categories | join: ',' }}" data-status="{{ post.status }}" data-session="{{ post.session }}">
            <td style="border: 1px solid lightgrey; padding: 18px;">{{ forloop.index }}</td>
            <td style="border: 1px solid lightgrey; padding: 18px;">
              <a href="{{ tech.url }}" style="color: #256469">
                {{ tech.title }}
              </a>
            </td>
            <!-- <td style="border: 1px solid lightgrey; padding: 18px;">
              {% for tradeoff in tech.tradeoff_priority %}
              <a href="/tradeoff/{{ tradeoff | slugify }}" style="color: #0494ae">{{ forloop.index }}.{{ tradeoff }}</a>{% if forloop.last == false %}, {% endif %}
              {% endfor %}
            </td> -->
            <!-- <td style="border: 1px solid lightgrey; padding: 2px; word-wrap: break-word; overflow: hidden;">
              {% assign strategies_tools = "" %}
              {% for tradeoff in tech.tradeoff_priority %}
                {% assign strategies = site.data.tradeoffs[tradeoff] %}
                {% if strategies %}
                  {% assign strategies_tools = strategies_tools | append: strategies | append: ',' %}
                {% endif %}
              {% endfor %} -->
              
              <!-- <div class="cell-content">
                {% if strategies_tools %}
                  {% assign strategies_array = strategies_tools | split: ',' %}
                  <ul style="list-style-type: none; padding-left: 0; margin-left: 0; color: #0494ae">
                    {% for strategy in strategies_array %}
                      {% unless strategy == "" %}
                        <li style="list-style-type: none;">
                          <a href="/strategy/{{ strategy | slugify }}" style="text-decoration: none; color: #0494ae">{{ strategy }}</a>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>No strategies available.</p>
                {% endif %}
              </div>
              {% if strategies_tools %}
                <span class="show-more">Show more</span>
              {% endif %}
            </td> -->

            <td style="border: 1px solid lightgrey; padding: 2px;">
              {% for technology in tech.technologies %}
              <a href="/technology/{{ technology | slugify }}" > {{ forloop.index }}. {{ technology }}</a>{% if forloop.last == false %}, {% endif %}
              {% endfor %}
            </td>
            <td style="border: 1px solid lightgrey; padding: 2px; word-wrap: break-word; overflow: hidden;">
              {% assign technologies_tools = "" %}
              {% for technology in tech.technologies %}
                {% assign tech_tools = site.data.technologies_tools[technology] %}
                {% if tech_tools %}
                  {% assign technologies_tools = technologies_tools | append: tech_tools | append: ',' %}
                {% endif %}
              {% endfor %}
              
              <div class="cell-content">
                {% if technologies_tools %}
                  {% assign tech_tools_array = technologies_tools | split: ',' %}
                  <ul style="list-style-type: none; padding-left: 0; margin-left: 0;">
                    {% for tech_tool in tech_tools_array %}
                      {% unless tech_tool == "" %}
                        <li style="list-style-type: none;">
                          <a href="/tool/{{ tech_tool | slugify }}" style="text-decoration: none;">
                            {{ tech_tool }}
                          </a>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>No tools available for these technologies.</p>
                {% endif %}
              </div>
              
              <!-- {% if technologies_tools %}
                <span class="show-more">Show more</span>
              {% endif %} -->
            </td>
            <td style="border: 1px solid lightgrey; padding: 18px;">
              <a style="color: #0d94e7;">{{ tech.note | join: ", " }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Strategies List Section -->
 
    <div class="strategies-list" style="margin-top: 30px;">
      <h3>Strategies List</h3>
      <ul style="list-style-type: none; padding-left: 0;">
        {% for strategy in site.strategy %}
        <li>
          {{ forloop.index }}. <a href="{{ strategy.url }}" style="color: #0494ae;">{{ strategy.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    

    <!-- Tools List Section -->
    <div class="tools-list" style="margin-top: 30px;">
      <h3>Tools List</h3>
      <ul style="list-style-type: none; padding-left: 0;">
        {% for tool in site.tool %}
        <li>
          {{ forloop.index }}. <a href="{{ tool.url }}">{{ tool.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const showMoreButtons = document.querySelectorAll('.show-more');
    
    showMoreButtons.forEach(button => {
      button.addEventListener('click', function() {
        const cellContent = this.previousElementSibling;  
        if (cellContent.classList.contains('expanded')) {
          cellContent.classList.remove('expanded');
          this.textContent = 'Show more';  
        } else {
          cellContent.classList.add('expanded');
          this.textContent = 'Show less';  
        }
      });
    });
  });
</script>

{% include site-footer.html %}
