---
layout: default
---

{% include site-header.html %}

<main class="main container">

  <div class="content">

    <!-- <div class="tag-filter">
      <label for="searchCategory">Search Category:</label>
      <input type="text" id="searchCategory" placeholder="Enter category to search">
  </div>
  
  <select id="sortDropdown">
      <option value="time">Sort by Time</option>
      <option value="level">Sort by Level</option>
      <option value="problemName">Sort by Problem Name</option>
  </select> -->
  
  <table style="border-collapse: collapse; width: 100%; padding: 18px;">
    <thead>
      <tr>
        <th style="text-align:center; border: 1px solid lightgrey; padding: 18px;">No.</th>
        <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Topic Problem Name</th>
        <th style="text-align:center; border: 1px solid lightgrey; padding: 18px;">Tradeoff Priority</th>
        <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Key Technologies</th>
        <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Strategties for Tradeoff</th>
        <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Strategties for Technologies</th>
        <th style="text-align:left; border: 1px solid lightgrey; padding: 18px;">Notes</th>
        <Tools></Tools></th>
      </tr>
    </thead>
    <tbody>
      {% for tech in site.teches %}
      <tr data-time="{{ post.feature_text | slice: -12, 10 | date: '%Y-%m-%d' }}" data-tags="{{ post.categories | join: ',' }}" data-status="{{ post.status }}" data-session="{{ post.session }}">
          <td style="border: 1px solid lightgrey; padding: 18px;">{{ forloop.index }}</td>
          <td style="border: 1px solid lightgrey; padding: 18px;">
            <a href="{{ tech.url }}" 
               style="color: #b51ce4">
               {{ tech.title }}
            </a>
          </td>
          <td style="border: 1px solid lightgrey; padding: 18px;">
            {% for tradeoff in tech.tradeoff_priority %}
            <a href="/tradeoff/{{ tradeoff | slugify }}">{{ forloop.index }}.{{ tradeoff }}</a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </td>
          <td style="border: 1px solid lightgrey; padding: 2px;">
            {% for technology in tech.technologies %}
            <a href="/technology/{{ technology | slugify }}" > {{ forloop.index }}. {{ technology }}</a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </td>


          <td style="border: 1px solid lightgrey; padding: 2px; word-wrap: break-word; overflow: hidden;">
            {% assign strategies_tools = "" %}
            {% for tradeoff in tech.tradeoff_priority %}
              {% assign strategies = site.data.tradeoffs[tradeoff] %}
              {% if strategies %}
                {% assign strategies_tools = strategies_tools | append: strategies | join: ',' %}
              {% endif %}
            {% endfor %}
          
            <!-- Rendering strategies -->
            {% if strategies_tools %}
              <div style="list-style-type: none; padding-left: 0; margin-left: 0;">
                <ul style="list-style-type: none; padding-left: 0; margin-left: 0;">
                  {% assign strategies_array = strategies_tools | split: ',' %}
                  {% for strategy in strategies_array %}
                    <li style="list-style-type: none;">
                      <a href="/strategy/{{ strategy | slugify }}" style="text-decoration: none;">
                      {{ strategy }}
                      </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <p>No strategies available.</p>
            {% endif %}
          </td>
          
          <td style="border: 1px solid lightgrey; padding: 2px; word-wrap: break-word; overflow: hidden;">
            {% assign technologies_tools = "" %}
            {% for technology in tech.technologies %}
              {% assign tech_strategies = site.data.technologies_tools[technology] %}
              {% if tech_strategies %}
                {% assign technologies_tools = technologies_tools | append: tech_strategies | join: ',' %}
              {% endif %}
            {% endfor %}
          
            <!-- Rendering clickable technologies strategies -->
            {% if technologies_tools %}
              <div style="list-style-type: none; padding-left: 0; margin-left: 0;">
                <ul style="list-style-type: none; padding-left: 0; margin-left: 0;">
                  {% assign tech_strategies_array = technologies_tools | split: ',' %}
                  {% for tech_strategy in tech_strategies_array %}
                    <li style="list-style-type: none;">
                      <a href="/strategy/{{ tech_strategy | slugify }}" style="text-decoration: none;">
                        {{ tech_strategy }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              <p>No strategies available for these technologies.</p>
            {% endif %}
          </td>
          

          
          
          
 
          <td style="border: 1px solid lightgrey; padding: 18px;">
            <a style="color: #0d94e7;">{{ tech.note | join: ", " }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>

</main>

{% include site-footer.html %}
 